footer
  .container
    .footer-content
      .footer-column
        h3 MusicVN
        p
          | Trang web nghe nh&#x1EA1;c tr&#x1EF1;c tuy&#x1EBF;n h&agrave;ng &dstrok;&#x1EA7;u Vi&#x1EC7;t Nam v&#x1EDB;i kho nh&#x1EA1;c &dstrok;a d&#x1EA1;ng v&agrave; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao.
        .social-links
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-twitter
          a(href='#')
            i.fab.fa-instagram
          a(href='#')
            i.fab.fa-youtube
      .footer-column
        h3 Li&ecirc;n k&#x1EBF;t
        ul
          li
            a(href='#') Trang ch&#x1EE7;
          li
            a(href='#') Th&#x1EC3; lo&#x1EA1;i
          li
            a(href='#') BXH
          li
            a(href='#') Ngh&#x1EC7; s&itilde;
          li
            a(href='#') Album
      .footer-column
        h3 H&#x1ED7; tr&#x1EE3;
        ul
          li
            a(href='#') Tr&#x1EE3; gi&uacute;p
          li
            a(href='#') &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
          li
            a(href='#') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
          li
            a(href='#') Li&ecirc;n h&#x1EC7;
          li
            a(href='#') B&aacute;o l&#x1ED7;i
      .footer-column
        h3 T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng
        p T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng MusicVN &dstrok;&#x1EC3; nghe nh&#x1EA1;c m&#x1ECD;i l&uacute;c m&#x1ECD;i n&#x1A1;i.
        .app-links
          a.btn(href='#') App Store
          a.btn(href='#', style='margin-top: 10px;') Google Play
    .copyright
      p &copy; 2025 MusicVN. T&#x1EA5;t c&#x1EA3; c&aacute;c quy&#x1EC1;n &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o l&#x1B0;u.
